@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.falling-emoji {
  z-index: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  top: 0;
  -webkit-animation: fall 3s linear;
          animation: fall 3s linear;
  opacity: 0;
}

@-webkit-keyframes fall {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    opacity: 0;
  }
}

@keyframes fall {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    opacity: 0;
  }
}
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1130px;
}

.header {
  padding: 40px 0px;
}
.header__logo {
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__logo__img {
  height: 42px;
}
.header__logo__text {
  font-weight: 500;
  font-size: 18px;
}
.header__line {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: black;
}

.wrapper {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  padding: 50px 0px;
}

.faq-section {
  background-color: rgba(0, 146, 255, 0.05);
}

.onlyfans-back {
  position: absolute;
  max-height: 350px;
  opacity: 0.05;
  z-index: -1;
  right: -100px;
  bottom: 8%;
}

.img {
  max-width: 550px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: min(3.5vw, 60px);
  overflow: hidden;
}

.video-wrapper {
  border-radius: min(3.5vw, 60px);
  overflow: hidden;
  max-width: 100%;
}

.video {
  border-radius: min(3.5vw, 60px);
  width: 100%;
  height: 100%;
}

.hero-img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 100%;
  cursor: pointer;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #000;
  color: #fff;
  padding: 7px 55px;
  border-radius: 15px;
  font-size: 28px;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.button::after {
  content: "👉";
  font-size: 50px;
  -webkit-transform: rotateZ(220deg) translate(-50%, -50%);
          transform: rotateZ(220deg) translate(-50%, -50%);
  position: absolute;
  right: -25px;
  bottom: 5px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.button:hover::after {
  right: -15px;
  bottom: 15px;
}

.social-button {
  max-height: 48px;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.social-button__img {
  max-height: 48px;
}
.social-button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.content {
  max-width: 480px;
  width: 100%;
}
.content__online {
  display: inline-block;
  background-color: #000;
  border-radius: 100px;
  padding: 3px 8px;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.content__online__circle {
  padding-right: 3px;
  color: #0ce884;
}
.content__title {
  font-weight: 700;
  font-size: 32px;
  margin: 10px 0;
}
.content__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.content__tags__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.content__tags__tag__img {
  width: 14px;
}
.content__tags__tag__text {
  font-size: 12px;
  font-weight: 600;
}
.content__tags__tag__smile {
  font-size: 20px;
}
.content__tags-smile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}
.content__desc {
  font-size: 18px;
  font-weight: 500;
  margin: 30px 0;
}
.content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.content__offs {
  font-weight: 800;
  font-size: 18px;
  margin: 20px;
}
.content--faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.content--faqq {
  margin: 50px 0;
}
.content__faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.content__faq__title {
  font-size: 18px;
  font-weight: 700;
}
.content__faq__desc {
  font-size: 16px;
  font-weight: 400;
}

.photo-collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  position: relative;
}
.photo-collage::after {
  content: "😍";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 48px;
}
.photo-collage__img {
  width: 262px;
  max-width: 100%;
  border-radius: min(3.5vw, 60px);
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  margin-top: 50px;
  padding: 50px 0px;
}

@media (max-width: 1000px) {
  .wrapper--wrap {
    padding-top: 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .photo-collage {
    grid-template-columns: 1fr;
  }
  .photo-collage__img:last-child {
    display: none;
  }
  .photo-collage::after {
    content: "";
  }
}
@media (max-width: 800px) {
  .container {
    padding: 0px 0px;
  }
  .header {
    padding: 30px 20px;
  }
  .header__logo__img {
    height: 32px;
  }
  .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    padding: 20px 20px;
  }
  .wrapper--wrap {
    padding: 0px 20px 20px;
    gap: 10px;
  }
  .wrapper--reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .onlyfans-back {
    display: none;
  }
  .img {
    border-radius: 30px;
    max-width: min(80%, 550px);
  }
  .video-wrapper {
    border-radius: 30px;
  }
  .button {
    margin: 0 auto;
    font-size: 24px;
    height: 48px;
  }
  .social-button {
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .social-button:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content__online {
    z-index: 1;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    top: -16px;
    border: 3px solid #fff;
  }
  .content__title {
    text-align: center;
    margin: 15px 0;
  }
  .content__tags {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .content__tags__tag__smile {
    font-size: 18px;
  }
  .content__desc {
    margin: 15px 0px 25px;
  }
  .content__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .content__offs {
    text-align: center;
    font-size: 16px;
  }
  .content--faq {
    gap: 25px;
  }
  .content--faqq {
    margin: 30px 0 35px;
  }
  .photo-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    position: relative;
  }
  .photo-collage__img:last-child {
    display: block;
  }
  .photo-collage::after {
    content: "😍";
  }
  .photo-collage__img {
    border-radius: 30px;
  }
  footer {
    margin-top: 30px;
    padding: 50px 0px;
  }
}