@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.falling-emoji {
  z-index: 100;
  user-select: none;
  position: fixed;
  top: 0;
  animation: fall 3s linear;
  opacity: 0;
}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0px 200px;
  display: flex;
  align-items: center;
  max-width: 1820px;
}

.header {
  padding: 50px 0px;

  &__logo {
    padding-right: 15px;
    display: flex;
    align-items: center;
    gap: 15px;

    &__img {
      height: 54px;
    }
    &__text {
      font-weight: 500;
      font-size: 24px;
    }
  }

  &__line {
    flex-grow: 1;
    height: 1px;
    background-color: black;
  }
}

.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  padding: 50px 0px;
}

.faq-section {
  background-color: rgba($color: #0092ff, $alpha: 0.05);
}

.onlyfans-back {
  position: absolute;
  max-height: 400px;
  opacity: 0.05;
  z-index: -1;
  right: -100px;
  bottom: 8%;
  // transform: translateY(50%);
}

.img {
  user-select: none;
  border-radius: min(3.5vw, 60px);
  overflow: hidden;
}

.video-wrapper {
  border-radius: min(3.5vw, 60px);
  overflow: hidden;
  max-width: 100%;
}

.video {
  border-radius: min(3.5vw, 60px);
  width: 100%;
  height: 100%;
}

.hero-img {
  user-select: none;
  max-width: 100%;
  cursor: pointer;
}

.button {
  position: relative;
  background-color: #000;
  color: #fff;
  padding: 10px 70px;
  border-radius: 15px;
  font-size: 32px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;

  &::after {
    content: "👉";
    font-size: 50px;
    transform: rotateZ(220deg) translate(-50%, -50%);
    position: absolute;
    right: -30px;
    bottom: 0;
    transition: all 0.1s ease-in-out;
  }

  &:hover {
    transform: translateY(-5px);

    &::after {
      right: -20px;
      bottom: 10px;
    }
  }
}

.social-button {
  height: 60px;
  overflow: hidden;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
}

.content {
  max-width: 590px;
  width: 100%;

  &__online {
    display: inline-block;
    background-color: #000;
    border-radius: 100px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    user-select: none;

    &__circle {
      padding-right: 5px;
      color: #0ce884;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 43px;
    margin: 15px 0;
  }

  &__tags {
    display: flex;
    gap: 18px;

    &__tag {
      display: flex;
      align-items: center;
      gap: 5px;

      &__img {
        width: 17px;
      }
      &__text {
        font-size: 18px;
        font-weight: 600;
      }
      &__smile {
        font-size: 24px;
      }
    }
  }

  &__tags-smile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  &__desc {
    font-size: 22px;
    font-weight: 500;
    margin: 45px 0;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__offs {
    font-weight: 800;
    font-size: 22px;
    margin: 20px;
  }

  &--faq {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 80px 0;
  }

  &__faq {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__title {
      font-size: 22px;
      font-weight: 700;
    }

    &__desc {
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.photo-collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  position: relative;

  &::after {
    content: "😍";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 54px;
  }

  &__img {
    max-width: 100%;
    border-radius: min(3.5vw, 60px);
  }
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  margin-top: 70px;
  padding: 70px 0px;
}

@media (max-width: 1300px) {
  .wrapper--wrap {
    padding-top: 0px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .img {
    width: 600px;
  }

  .photo-collage {
    grid-template-columns: 1fr;

    &::after {
      content: "";
    }

    &__img:last-child {
      display: none;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 0px 0px;
  }

  .header {
    padding: 30px 20px;

    &__logo {
      padding-right: 10px;
      gap: 10px;

      &__img {
        height: 32px;
      }
      &__text {
        font-size: 18px;
      }
    }
  }

  .wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 20px;

    &--wrap {
      padding: 0px 20px 20px;
      gap: 10px;
    }

    &--reverse {
      display: flex;
      gap: 0px;
      flex-direction: column-reverse;
    }
  }

  .onlyfans-back {
    display: none;
  }

  .img {
    border-radius: 30px;
    max-width: 80%;
  }

  .video-wrapper {
    border-radius: 30px;
  }

  .button {
    margin: 0 auto;
    font-size: 24px;
  }

  .social-button {
    height: 60px;
    overflow: hidden;
    transition: all 0.1s ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__online {
      z-index: 1;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      top: -16px;
      border: 3px solid #fff;
    }

    &__title {
      text-align: center;
      font-size: 32px;
      margin: 15px 0;
    }

    &__tags {
      justify-content: center;
      gap: 10px;

      &__tag {
        gap: 5px;

        &__img {
          width: 14px;
        }
        &__text {
          font-size: 14px;
        }
        &__smile {
          font-size: 18px;
        }
      }
    }

    &__tags-smile {
      grid-gap: 5px;
    }

    &__desc {
      font-size: 18px;
      margin: 15px 0px 25px;
    }

    &__buttons {
      justify-content: center;
      gap: 20px;
    }

    &__offs {
      text-align: center;
      font-size: 16px;
    }

    &--faq {
      gap: 25px;
      margin: 25px 0 35px;
    }

    &__faq {
      gap: 5px;

      &__title {
        font-size: 18px;
      }

      &__desc {
        font-size: 16px;
      }
    }
  }

  .photo-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    position: relative;

    &__img:last-child {
      display: block;
    }

    &::after {
      content: "😍";
      font-size: 48px;
    }

    &__img {
      border-radius: 30px;
    }
  }

  footer {
    margin-top: 30px;
    padding: 50px 0px;
  }
}
